<div class="container-fluid">
    <div id="Home" class="row align-items-center hero">
        <div class="col-lg-1 offset-lg-1">
            <p>bajada</p>
            <h1>titulo principal</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur, in nam quasi, aperiam
                perspiciatis quos libero soluta cumque veritatis laboriosam reiciendis ut qui quod fugiat alias,
                mollitia molestias incidunt!</p>
        </div>
    </div>
    <div class="container" style="margin:50px auto">
        <div class="row">
            <div class="col">
                <p class="text-right">Hola {{ usuario }} ! </p>
                <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion <i class="fas fa-sign-out"></i></a>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <div class="card">
                <img src="../../images/marquez skell.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/hongying skell.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/akaihime skell base.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/akaihime skell harusilk.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/erwin-arwin skell field medic commander.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/erwin-arwin skell base.png" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/selina skell.jfif" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/felicia skell.jfif" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/pikachu skell.jfif" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../images/vulpix skell.jfif" class="card-img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural
                        lead-in
                        to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <h2>proximamente admin de novedades</h2>
    <div class="row">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus">
                </i>Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">imagen</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-center">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}}" class="btn btn-sm btn-secondary">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>